body{
  background-color: #292929;
  color:  white;
  font-family: 'Roboto Condensed', sans-serif;
}

.links a{
  color: #E34248;
  color: white;
}

.content{
  margin-top: 300px;
}

p {
    font-size: 3em;
}

.hl{
  color: #EC454B;
}

.linkedin a:hover {
  color: #1884BC;
  text-decoration: none;
}

.github a:hover {
  color: #000000;
  text-decoration: none;
}

.strava a:hover {
  color: #FC5200;
  text-decoration: #FC5200;
}

.goodreads a:hover {
  color: #F4F1EA;
  text-decoration: #F4F1EA;
}

.medium a:hover {
  color: #2BBC61;
  text-decoration: none;
}

footer{
   position:fixed;
   left:0px;
   bottom:0px;
   height:100px;
   width:100%;
}
